Repository alloy-lab/seo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    lint:
      run: npm run lint
      glob: '*.{js,ts,tsx}'
    typecheck:
      run: npm run typecheck
      glob: '*.{ts,tsx}'

commit-msg:
  commands:
    commitlint:
      run: npm run commitlint
      glob: '**'

feat(core): add commitlint configuration and integrate SEO framework support
  README.md
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  src/__tests__/seo.test.ts
  src/__tests__/useSEO.test.tsx
  src/frameworks/nextjs.ts
  src/frameworks/sveltekit.ts
  src/hooks/useSEO.ts
  src/index.ts
  tsconfig.test.json
Due: lint, typecheck

feat(core): enhance lefthook configuration with pre-commit and pre-push checks
  lefthook.yml
  pnpm-lock.yaml
Due: none

feat(utils): add seo-cli command-line tool for SEO utilities
  examples/playground/index.html
  package.json
  pnpm-lock.yaml
  src/cli/index.ts
  src/index.ts
  src/utils/lazy.ts
Due: lint, typecheck

feat(payload): integrate Payload CMS for SEO management with admin components and hooks
  package.json
  src/index.ts
  src/payload/admin.ts
  src/payload/fields.ts
  src/payload/hooks.ts
  src/payload/index.ts
  src/payload/plugin.ts
  src/payload/types.ts
Due: lint, typecheck

feat(config): add Payload CMS to commitlint configuration
  commitlint.config.js
Due: lint

feat(examples): improve SEO playground with better formatting and examples
  examples/playground/README.md
  examples/playground/index.html
Due: none

chore(config): add .prettierignore to exclude specific files from formatting
  .prettierignore
Due: none

feat(docs): add GitHub Pages documentation and local development server
  docs/README.md
  docs/assets/package.json
  docs/index.html
  docs/playground.html
  scripts/serve-docs.js
Due: lint

Create static.yml
  .github/workflows/static.yml
Due: none

feat(ci): add GitHub Pages deployment workflow
  .github/workflows/deploy-docs.yml
Due: none

fix(ci): correct GitHub Pages deployment path to docs directory
  .github/workflows/deploy-docs.yml
  .github/workflows/static.yml
Due: none

fix(docs): improve code example readability with proper formatting and indentation
  docs/index.html
  docs/playground.html
Due: none

fix(docs): properly format all code examples with correct indentation and line breaks
  docs/playground.html
Due: none

fix(docs): format playground code examples with proper indentation and line breaks
  docs/playground.html
Due: none

fix(docs): convert all code blocks to use pre/code tags for proper formatting
  docs/index.html
  docs/playground.html
Due: none

fix(docs): update GitHub links to point to dedicated seo repository
  docs/README.md
  docs/index.html
  docs/playground.html
Due: none

fix(docs): improve code block formatting for better readability
  docs/index.html
Due: none

feat(ci): add auto-publishing workflow and publishing scripts
  .github/workflows/ci.yml
  package.json
Due: none

chore(deps): update pnpm-lock.yaml with new dependencies and versions
  pnpm-lock.yaml
Due: none

chore(release): bump version to 1.0.1
  package-lock.json
  package.json
Due: none

fix(ci): prevent duplicate publishing with concurrency control and better version checking
  .github/workflows/ci.yml
Due: none

fix(ci): use self-hosted runners for better control and reliability
  .github/workflows/ci.yml
Due: none

security(ci): add repository checks to prevent fork execution on self-hosted runner
  .github/workflows/ci.yml
Due: none

chore(config): add security to commit message types
  commitlint.config.js
Due: lint

feat(config): add React Router integration for SEO utilities
  commitlint.config.js
  src/frameworks/react-router.ts
  src/index.ts
Due: lint, typecheck

feat(core): re-export React Router meta functions in index file
  src/frameworks/react-router.ts
  src/index.ts
Due: lint, typecheck

fix(docs): update live documentation links to new SEO domain
  docs/README.md
  docs/index.html
Due: none

chore(ci): remove redundant typecheck and test steps from CI workflow
  .github/workflows/ci.yml
Due: none

chore(ci): update node version matrix to only include version 22
  .github/workflows/ci.yml
Due: none

chore(ci): simplify Node.js setup step in CI workflow
  .github/workflows/ci.yml
Due: none

chore(ci): add Codecov token for coverage report uploads
  .github/workflows/ci.yml
Due: none

chore(ci): upgrade Codecov action to version 5 for coverage reporting
  .github/workflows/ci.yml
Due: none

chore(ci): add linux-arm64 support to Codecov action
  .github/workflows/ci.yml
Due: none

fix(docs): update copyright year in footer to 2025
  docs/index.html
Due: none
